<main>
	<h1 class="text-center">Bem vindo ao grimório, Warlock.</h1>
	<h5 class="text-center mt-3">Escolha o que deseja fazer aqui:</h5>
	<div class="container mt-3">
		<div class="row text-center">
			<div class="col-md-6">
				<a href="/admin/spells"><button class="btn btn-primary"> Consultar feitiços </button></a>
			</div>
			<div class="col-md-6">
				<a href="/admin/spells/create"><button class="btn btn-warning"> Registrar feitiços </button></a>
			</div>
		</div>
		<div class="row text-center mt-3">
			<div class="col-md-6">
				<a href="/admin/apprentices"><button class="btn btn-info"> Consultar aprendizes</button></a>
			</div>
			<div class="col-md-6">
				<a href="/admin/apprentices/create"><button class="btn btn-secondary"> Registrar aprendizes </button></a>
			</div>
		</div>
		<div class="row text-center mt-3">
			<div class="col-md-6">
				<a href="/admin/students"><button class="btn btn-success"> Consultar estudantes </button></a>
			</div>
			<div class="col-md-6">
				<a href="/admin/students/create"><button class="btn btn-dark"> Registrar estudantes </button></a>
			</div>
		</div>
	</div>
</main>